classes
.metadata

.gradle
.classpath
.project
.settings
bin
example3/build
out
.DS_Store
.idea/.name
.idea/$CACHE_FILE$
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/compiler.*
.idea/emacs.*
.idea/encodings.*
.idea/misc.*
.idea/sbt.*
.idea/uiDesigner.*
.idea/vcs.*
.idea/codeStyles/
.idea/dictionaries/
.idea/libraries/
.idea/inspectionProfiles/
